<div class="container-fluid">
	<form (ngSubmit)="onSubmit()" #f="ngForm">
		<br />
		<button
			(click)="onGoBack()"
			type="button"
			class="btn btn-primary btn-space float-end col-md-2"
		>
			Go Back
		</button>
		<button
			type="submit"
			class="btn btn-primary btn-space float-end col-md-2"
		>
			Submit
		</button>
		<h4>Edit Recipe</h4>
		<hr />
		<!-- Recipe Name -->
		<div class="row">
			<div class="col">
				<label for="name"><h5>Recipe Name</h5></label>
				<input
					type="text"
					class="form-control"
					placeholder="Recipe Name"
					[ngModel]="recipe.recipe.name"
					required
					id="name"
					name="name"
				/>
			</div>
			<div class="col">
				<label for="name"><h5>Recipe Image</h5></label>
				<input
					type="text"
					class="form-control"
					placeholder="link"
					[ngModel]="recipe.recipe.image"
					name="image"
				/>
			</div>
		</div>
		<br />
		<!-- Description -->
		<div class="form-group">
			<label for="description"><h5>Description</h5></label>
			<textarea
                [ngModel]="recipe.recipe.description"
				name="description"
				class="form-control"
				id="description"
				required
				rows="4"
			></textarea>
		</div>
		<br />
		<!-- Ingredients -->
		<h5>Ingredients</h5>
		<div class="row">
			<div class="col">
				<input
					type="text"
					class="form-control"
					placeholder="Ingredient"
					ngModel
					name="ingredient"
				/>
			</div>
			<div class="col">
				<input
					type="number"
					class="form-control"
					placeholder="Quantity"
					ngModel
					min="0"
					name="quantity"
				/>
			</div>
		</div>
		<br />
		<!-- Button Section -->
		<div class="container btn-space">
			<button type="button" (click)="onAdd()" class="btn btn-success btn-space col-md-2">
				Add
			</button>
			<button type="button" (click)="onRemove()" class="btn btn-danger btn-space col-md-2">
				Remove
			</button>
		</div>
	</form>

	<!-- Added Items Section -->
	<br />
	<ul class="list-group">
		<li (click)="onClick(ingredient)" *ngFor="let ingredient of ingredients" 
			class="list-group-item d-flex justify-content-between align-items-center"
		>
			{{ ingredient.name }}
			<span class="badge bg-primary rounded-pill">
                {{ ingredient.quantity }}
            </span>
		</li>
	</ul>
</div>
