<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<br />
			<h4>Your Cart</h4>
			<hr />
			<h5>Edit Cart Items</h5>
			<br />
			<app-shopping-list-add-item></app-shopping-list-add-item>
			<br />
			<hr />
			<h5>Cart Items</h5>
			<br />
			<ul class="list-group">
				<div *ngIf="ingredients.length > 0; else noItems">
					<app-shopping-list-item
						[item]="val"
						*ngFor="let val of ingredients"
					></app-shopping-list-item>
				</div>
				<ng-template #noItems> No Item In Your Cart. </ng-template>
			</ul>
		</div>
	</div>
</div>
