<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/recipe']">
      <i class="fa-solid fa-utensils fa-xl"></i>
      <!-- <i class="fa-solid fa-bowl-food fa-xl"></i> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link dimenssion" [routerLink]="['/recipe']" routerLinkActive="active" >Recipe</a>
        <a class="nav-link dimenssion" [routerLink]="['/cart']" routerLinkActive="active" >Cart</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>