<div class="container">
	<form>
		<div class="row">
			<div class="col">
				<input
					type="text"
					class="form-control"
					placeholder="Ingredient"
				/>
			</div>
			<div class="col">
				<input
					type="number"
					min="1"
					class="form-control"
					placeholder="Quantity"
				/>
			</div>
		</div>
		<br />
		<div class="container">
			<button type="button" class="btn btn-success btn-space col-md-2">
				Add
			</button>
			<button type="button" class="btn btn-danger btn-space col-md-2">
				Remove
			</button>
			<button type="button" class="btn btn-warning btn-space col-md-2">
				Clear
			</button>
		</div>
	</form>
</div>
