<br />
<h4>Recipe Details</h4>
<hr />

<div class="container-fluid" *ngIf="!recipeClicked; else recipeDetail">
	<p>
		<i class="fa-solid fa-arrow-left-long"></i>
		Click on a Recipe to View Details
	</p>
</div>
<ng-template class="container-fluid dimenssion" #recipeDetail>
	<div class="card" style="width: 100%;">
		<div class="card-img">
			<img [src]="recipe.image" class="img-fluid rounded-start rounded-end " alt="food image" />
		</div>
		<div class="card-body">
			<h5 class="card-title">
				{{recipe.name}}
			</h5>
			<p class="card-text">
				{{recipe.description}}
			</p>
			<a class="btn btn-primary" (click)="onAddToCart()" >Add To Cart</a>
		</div>
	</div>
</ng-template>
